<h1>Editing Job Request</h1>

<%= render partial: 'admin/job_requests/form', locals: {job_request: @job_request, url: admin_job_request_path(@job_request), method: :patch} %>

<%= link_to 'Show', admin_job_request_path(@job_request) %> |
<%= link_to 'Back', admin_job_requests_path %>
