<body>
  <p>Dear <%= @user.full_name %></p>
  <p>
    Your account is has been registered successfully by login with facebook provider.
    <br>
    Now you can access your account to Rajin App using current facebook account or using credentials below:
  </p>
  <p>
    email: <br>
    <b><%= @user.email %></b> <br>
    password: <br>
    <b><%= @current_password %></b> <br>
  </p>

  Thank you
</body>