<div class="block-center mt-4 wd-xl">
  <!-- START card-->
  <div class="card card-flat">
    <div class="card-header text-center bg-dark">
      <a href="#">
        RajinApp
        <!-- <img class="block-center rounded" src="<%#= image_path('angle/logo.png') %>" alt="Image" /> -->
      </a>
    </div>
    <div class="card-body">
      <p class="text-center py-2">Password updated</p>
    </div>
  </div>
  <!-- END card-->
</div>
