<h1>Create New User</h1>

<%= render partial: 'admin/users/partials/form', locals: {user: @user, url: admin_users_path, method: :post} %>

<%= link_to 'Back', :back, class: 'btn btn-secondary', data: { disable_with: 'Please wait...' } %>