<h1>New Coin Package</h1>

<%= render partial: 'admin/coin_packages/partials/form',
            locals: {coin_package: @coin_package, url: admin_coin_packages_path, method: :post} %>

<%= link_to 'Back', admin_coin_packages_path, class: 'btn btn-secondary' %>
