<h1>New School Partner</h1>

<%= render partial: 'admin/school_partners/form',
            locals: {school_partner: @school_partner, url: admin_school_partners_path, method: :post} %>

<%= link_to 'Back', admin_school_partners_path %>
